name: "CD pipeline"
on:
    workflow_run:
        workflows: ["Nextjs cicd"]
        types:
            - completed
    workflow_dispatch:

jobs: 
    deploy:
        runs-on: ubuntu-latest
        environment: production

        steps:
            - name: "Setup nodejs"
              uses: actions/setup-node@v4
              with:
                node-version: '22'
            
            - name: "Check node version"
              run: node --version